# SQL

In [1]:
from MySQL import MySQL_Run

MySQL_Run("show tables")

[{'Tables_in_bus_system': 'action_tour_hualien'},
 {'Tables_in_bus_system': 'admin_roles'},
 {'Tables_in_bus_system': 'admin_users'},
 {'Tables_in_bus_system': 'bus_route_stations'},
 {'Tables_in_bus_system': 'bus_routes'},
 {'Tables_in_bus_system': 'bus_routes_total'},
 {'Tables_in_bus_system': 'car_resource'},
 {'Tables_in_bus_system': 'login_state'},
 {'Tables_in_bus_system': 'reservation'},
 {'Tables_in_bus_system': 'reservation_record'},
 {'Tables_in_bus_system': 'reservation_table'},
 {'Tables_in_bus_system': 'ttcarimport'},
 {'Tables_in_bus_system': 'users'},
 {'Tables_in_bus_system': 'users_test'}]

In [ ]:
import pandas as pd

Results = MySQL_Run(f"select * from reservation where user_id = '132';")
df = pd.DataFrame(Results)
df

In [ ]:
Results = MySQL_Run(f"""
UPDATE reservation
SET review_status = 'canceled'
WHERE user_id = 132;
""")
print(Results)

In [ ]:
# MySQL_Run("""DELETE FROM users
# WHERE user_id = '124';
# """)

'Query executed.'

In [ ]:
import pandas as pd

Res = "user_id, booking_time, booking_number, booking_start_station_name, booking_end_station_name"
Res2 = "user_id, booking_time, booking_number, booking_start_station_name, booking_end_station_name, review_status, payment_status"
Val = "1, '2002-06-20 10:00:00', '150', '工109', '工515'"

def Show_Resarvation(Res2):
    Results = MySQL_Run(f"select {Res2} from reservation")
    df = pd.DataFrame(Results)
    return df

def Push_Resarvation(Val):
    sql = f"insert into reservation ({Res}) values ({Val})"
    MySQL_Run(sql)
    return "Success"

# Push_Resarvation(Val)
Show_Resarvation(Res2)

In [ ]:
sql = """
SELECT user_id, booking_time, booking_number, 
        booking_start_station_name, booking_end_station_name,
        review_status, payment_status
FROM reservation where user_id = '132' order by created_at desc
"""
results = MySQL_Run(sql)
results

In [ ]:

@api.post("/reservations/Canceled", tags=["Client"], summary="取消預約")
def Cancled_reservation(reservation_id: int):
    sql = f"""
    UPDATE reservation
    SET review_status = 'canceled'
    WHERE reservation_id = {reservation_id};
    """
    Results = MySQL_Run(sql)
    return {"status": "success", "sql": Results}

reservation_id = 24
sql = f"""
UPDATE reservation
SET review_status = 'canceled'
WHERE reservation_id = {reservation_id};
"""

Results = MySQL_Run(sql)
print(Results)

Query executed.

In [8]:
import redis

r = redis.Redis(host="127.0.0.1", port=6379, db=0)
r.set("foo", "bar")
print(r.get("foo"))

b'bar'

In [65]:
import pandas as pd
import pymysql

Infor = {
 'host': '43.212.245.102',
 'user': 'root',
 'port': 3306,
 'password': 'dnuiOKd217hdio',
 'database': 'Hualien_Bus',
 }

def init(Parameter):
    mydb = pymysql.connect(
        host=Parameter["host"],
        user=Parameter["user"],
        port=Parameter["port"],
        password=Parameter["password"],
        database=Parameter["database"],
        charset="utf8mb4",
        cursorclass=pymysql.cursors.DictCursor
    )
    return mydb

def MySQL_Run(query, Parameter=Infor):
    mydb = init(Parameter)
    mycursor = mydb.cursor()
    mycursor.execute(query)

    if query.strip().lower().startswith(("select", "show", "desc")):
        result = mycursor.fetchall()
    else:
        mydb.commit()
        result = "Query executed."

    mycursor.close()
    mydb.close()

    return (result)

MySQL_Run("""
FLUSH PRIVILEGES;
""")

'Query executed.'