In [2]:
from MySQL import MySQL_Run

MySQL_Run("show tables")

[{'Tables_in_bus_system': 'action_tour_hualien'},
 {'Tables_in_bus_system': 'admin_roles'},
 {'Tables_in_bus_system': 'admin_users'},
 {'Tables_in_bus_system': 'bus_route_stations'},
 {'Tables_in_bus_system': 'bus_routes'},
 {'Tables_in_bus_system': 'bus_routes_total'},
 {'Tables_in_bus_system': 'login_state'},
 {'Tables_in_bus_system': 'reservation'},
 {'Tables_in_bus_system': 'reservation_record'},
 {'Tables_in_bus_system': 'reservation_table'},
 {'Tables_in_bus_system': 'users'},
 {'Tables_in_bus_system': 'users_test'}]

In [7]:
MySQL_Run("""DELETE FROM users
WHERE user_id = '124';
""")

'Query executed.'

In [3]:
import pandas as pd

Results = MySQL_Run(f"select * from users")
df = pd.DataFrame(Results)
df.tail()

,user_id,line_id,username,password,email,phone,created_at,updated_at,last_login,status,reservation_status,preferences,privacy_settings,session_token
63,98,Uxxxxxxxxxxx2,Test01,None,None,None,2025-09-13 15:41:06,2025-09-13 15:41:06,NaT,active,no_reservation,None,None,None
64,99,Uxxxxxxxxxxx3,Test01,None,None,None,2025-09-13 15:42:35,2025-09-13 15:42:35,NaT,active,no_reservation,None,None,None
65,121,U123,測試用戶,None,None,None,2025-09-14 00:38:27,2025-09-14 00:40:12,2025-09-14 00:40:12,active,no_reservation,None,None,VTEyMzoxNzU3NzgxNjEyLvGQu6_C9jRi1ARGsSa--hUQMj...
66,132,Ufbcae02cac062d99d8bee745a0b4fc97,陳泰霖,,None,None,2025-09-14 20:07:49,2025-09-15 00:06:50,2025-09-15 00:06:50,active,no_reservation,None,None,eyJ1aWQiOiJVZmJjYWUwMmNhYzA2MmQ5OWQ4YmVlNzQ1YT...
67,133,U7fcf96cb2c6e58fe08b8c93076e04afb,楊文毅,,None,None,2025-09-14 20:10:59,2025-09-14 22:54:47,2025-09-14 22:54:47,active,no_reservation,None,None,eyJ1aWQiOiJVN2ZjZjk2Y2IyYzZlNThmZTA4YjhjOTMwNz...

In [ ]:
import pandas as pd

Res = "user_id, booking_time, booking_number, booking_start_station_name, booking_end_station_name"
Res2 = "user_id, booking_time, booking_number, booking_start_station_name, booking_end_station_name, review_status, payment_status"
Val = "1, '2002-06-20 10:00:00', '150', '工109', '工515'"

def Show_Resarvation(Res2):
    Results = MySQL_Run(f"select {Res2} from reservation")
    df = pd.DataFrame(Results)
    return df

def Push_Resarvation(Val):
    sql = f"insert into reservation ({Res}) values ({Val})"
    MySQL_Run(sql)
    return "Success"

# Push_Resarvation(Val)
Show_Resarvation(Res2)

In [4]:
sql = """
SELECT user_id, booking_time, booking_number, 
        booking_start_station_name, booking_end_station_name,
        review_status, payment_status
FROM reservation where user_id = '132' order by created_at desc
"""
results = MySQL_Run(sql)
results

[{'user_id': 132,
  'booking_time': datetime.datetime(2025, 9, 16, 11, 39),
  'booking_number': 1,
  'booking_start_station_name': '花蓮轉運站',
  'booking_end_station_name': '將軍府',
  'review_status': 'pending',
  'payment_status': 'pending'},
 {'user_id': 132,
  'booking_time': datetime.datetime(2025, 9, 15, 20, 8),
  'booking_number': 1,
  'booking_start_station_name': '花蓮轉運站',
  'booking_end_station_name': '花蓮港景觀橋',
  'review_status': 'approved',
  'payment_status': 'paid'}]

In [12]:
db_check = MySQL_Run(f"SELECT 1 FROM users WHERE line_id='132' LIMIT 1;")
db_check

()