# SQL

In [21]:
from MySQL import MySQL_Run
import pandas as pd

Show_T = "show tables"
Select = f"select * from users where user_id = '132';"
Select_Sent = f"""SELECT *
FROM reservation
WHERE user_id = '132'
  AND review_status = 'approved'
  AND DATE(booking_time) = CURDATE();
"""
Updata = f"""
UPDATE reservation
SET cancel_reason = 'I Dont wanna go to hualien'
WHERE reservation_id = 37;
"""
Delete = """DELETE FROM users
WHERE user_id = '124';
"""
Insert = "insert into reservation ({Res}) values ({Val})"


Results = MySQL_Run(Select)
df = pd.DataFrame(Results)
df

,user_id,line_id,username,password,email,phone,created_at,updated_at,last_login,status,reservation_status,preferences,privacy_settings,session_token
0,132,Ufbcae02cac062d99d8bee745a0b4fc97,陳泰霖,,Cody20179@gmail.com,0919000660,2025-09-14 20:07:49,2025-09-19 17:33:20,2025-09-19 17:33:20,active,no_reservation,None,None,eyJ1aWQiOiJVZmJjYWUwMmNhYzA2MmQ5OWQ4YmVlNzQ1YT...

In [34]:
from MySQL import MySQL_Run
import pandas as pd

Select_Sent = f"""SELECT *
FROM reservation
WHERE review_status = 'approved'
  AND DATE(booking_time) = CURDATE();
"""
Results = MySQL_Run(Select_Sent)
res_today = pd.DataFrame(Results)
print(res_today)

user_ids = res_today["user_id"].tolist()
id_list_str = ",".join([f"'{uid}'" for uid in user_ids])

Sent = f"SELECT email FROM users WHERE user_id IN ({id_list_str})"
Results = MySQL_Run(Sent)
res_touser = pd.DataFrame(Results)
res_touser

   reservation_id  user_id        booking_time  booking_number  \
0               8        1 2025-09-20 22:39:00               1
1              37      132 2025-09-20 00:30:00               1

  booking_start_station_name booking_end_station_name payment_method  \
0                        將軍府                   花蓮觀光漁港           None
1                    又一村文創園區                 文化創意產業園區           None

  payment_record payment_status review_status dispatch_status  \
0           None        pending      approved    not_assigned
1           None        pending      approved    not_assigned

   reservation_status cancel_reason          created_at          updated_at
0                   0          None 2025-09-08 14:41:56 2025-09-20 16:38:20
1                   0       不想去花蓮了啦 2025-09-19 17:32:52 2025-09-20 16:36:20

                 email
0  Cody20179@gmail.com
1  Cody20179@gmail.com

In [28]:
res_today["user_id"].tolist()

[1, 132]

In [25]:
res_today["user_id"]

0      1
1    132
Name: user_id, dtype: int64

In [14]:
Results = MySQL_Run("desc reservation")
df = pd.DataFrame(Results)
df

,Field,Type,Null,Key,Default,Extra
0,reservation_id,int(11),NO,PRI,None,auto_increment
1,user_id,int(11),YES,MUL,None,
2,booking_time,timestamp,YES,MUL,None,
3,booking_number,int(11) unsigned,YES,,None,
4,booking_start_station_name,varchar(255),YES,,None,
5,booking_end_station_name,varchar(255),YES,,None,
6,payment_method,varchar(50),YES,,None,
7,payment_record,text,YES,,None,
8,payment_status,"enum('pending','paid','failed','refunded')",YES,,pending,
9,review_status,"enum('pending','approved','rejected','canceled')",YES,,pending,
10,dispatch_status,"enum('not_assigned','assigned')",YES,,not_assigned,
11,reservation_status,tinyint(1),YES,,None,STORED GENERATED
12,cancel_reason,text,YES,,None,
13,created_at,timestamp,NO,,current_timestamp(),
14,updated_at,timestamp,NO,,current_timestamp(),on update current_timestamp()

# Redis

In [8]:
import redis

r = redis.Redis(host="127.0.0.1", port=6379, db=0)
r.set("foo", "bar")
print(r.get("foo"))

b'bar'

# Bus SQL

In [17]:
import pandas as pd
import pymysql

Infor = {
 'host': '43.212.245.102',
 'user': 'root',
 'port': 3306,
 'password': 'dnuiOKd217hdio',
 'database': 'Hualien_Bus',
 }

def init(Parameter):
    mydb = pymysql.connect(
        host=Parameter["host"],
        user=Parameter["user"],
        port=Parameter["port"],
        password=Parameter["password"],
        database=Parameter["database"],
        charset="utf8mb4",
        cursorclass=pymysql.cursors.DictCursor
    )
    return mydb

def MySQL_Run(query, Parameter=Infor):
    mydb = init(Parameter)
    mycursor = mydb.cursor()
    mycursor.execute(query)

    if query.strip().lower().startswith(("select", "show", "desc")):
        result = mycursor.fetchall()
    else:
        mydb.commit()
        result = "Query executed."

    mycursor.close()
    mydb.close()

    return (result)

MySQL_Run("""
show tables
""")
MySQL_Run("""
select * from ttcarimport
""")

()