# SQL

In [21]:
from MySQL import MySQL_Run
import pandas as pd

Show_T = "show tables"
Select = f"select * from users where user_id = '132';"
Select_Sent = f"""SELECT *
FROM reservation
WHERE user_id = '132'
  AND review_status = 'approved'
  AND DATE(booking_time) = CURDATE();
"""
Updata = f"""
UPDATE reservation
SET cancel_reason = 'I Dont wanna go to hualien'
WHERE reservation_id = 37;
"""
Delete = """DELETE FROM users
WHERE user_id = '124';
"""
Insert = "insert into reservation ({Res}) values ({Val})"


Results = MySQL_Run(Select)
df = pd.DataFrame(Results)
df

,user_id,line_id,username,password,email,phone,created_at,updated_at,last_login,status,reservation_status,preferences,privacy_settings,session_token
0,132,Ufbcae02cac062d99d8bee745a0b4fc97,陳泰霖,,Cody20179@gmail.com,0919000660,2025-09-14 20:07:49,2025-09-19 17:33:20,2025-09-19 17:33:20,active,no_reservation,None,None,eyJ1aWQiOiJVZmJjYWUwMmNhYzA2MmQ5OWQ4YmVlNzQ1YT...

In [ ]:
from MySQL import MySQL_Run
import pandas as pd

Select_Sent = f"""SELECT *
FROM reservation
WHERE review_status = 'approved'
AND DATE(booking_time) = CURDATE()
user_id = '132';
"""
Results = MySQL_Run(Select_Sent)
res_today = pd.DataFrame(Results)
print(res_today)

user_ids = res_today["user_id"].tolist()
id_list_str = ",".join([f"'{uid}'" for uid in user_ids])

Sent = f"SELECT email FROM users WHERE user_id IN ({id_list_str})"
Results = MySQL_Run(Sent)
res_touser = pd.DataFrame(Results)
res_touser

In [ ]:
from MySQL import MySQL_Run
import pandas as pd

Select_Sent = f"""
SELECT *
FROM reservation
WHERE review_status = 'approved'
  AND DATE(booking_time) = DATE_ADD(CURDATE(), INTERVAL 1 DAY)
  AND user_id = '132';
"""
Results = MySQL_Run(Select_Sent)
res_tomorrow = pd.DataFrame(Results)
res_tomorrow.tail()


@api.get("/reservations/tomorrow", tags=["Client"], summary="預約查詢")
def tomorrow_reservations(user_id: str):
    sql = f"""
    SELECT reservation_id, user_id, booking_time, booking_number, 
           booking_start_station_name, booking_end_station_name,
           review_status, payment_status
    FROM reservation where 
    review_status = 'approved' AND
    DATE(booking_time) = DATE_ADD(CURDATE(), INTERVAL 1 DAY) AND
    user_id = '{user_id}'
    """
    results = MySQL_Run(sql)

    return {"status": "success", "sql": results}

In [46]:
user_id = 132
sql = f"""
SELECT reservation_id, user_id, booking_time, booking_number, 
        booking_start_station_name, booking_end_station_name,
        review_status, payment_status
FROM reservation where 
review_status = 'approved' AND
user_id = '{user_id}'
"""
results = MySQL_Run(sql)
results

[{'reservation_id': 37,
  'user_id': 132,
  'booking_time': datetime.datetime(2025, 9, 22, 0, 30),
  'booking_number': 1,
  'booking_start_station_name': '又一村文創園區',
  'booking_end_station_name': '文化創意產業園區',
  'review_status': 'approved',
  'payment_status': 'pending'},
 {'reservation_id': 38,
  'user_id': 132,
  'booking_time': datetime.datetime(2025, 9, 22, 0, 10),
  'booking_number': 3,
  'booking_start_station_name': '花蓮轉運站',
  'booking_end_station_name': '又一村文創園區',
  'review_status': 'approved',
  'payment_status': 'pending'}]

In [45]:
user_id = 132
sql = f"""
SELECT reservation_id, user_id, booking_time, booking_number, 
        booking_start_station_name, booking_end_station_name,
        review_status, payment_status
FROM reservation where 
review_status = 'approved' AND
DATE(booking_time) = DATE_ADD(CURDATE(), INTERVAL 1 DAY) AND
user_id = '{user_id}'
"""
results = MySQL_Run(sql)
results

()

In [25]:
res_today["user_id"]

0      1
1    132
Name: user_id, dtype: int64

In [ ]:
Results = MySQL_Run("desc reservation")
df = pd.DataFrame(Results)
df

# Redis

In [8]:
import redis

r = redis.Redis(host="127.0.0.1", port=6379, db=0)
r.set("foo", "bar")
print(r.get("foo"))

b'bar'

# Bus SQL

In [68]:
import pandas as pd
import pymysql

Infor = {
 'host': '43.212.245.102',
 'user': 'root',
 'port': 3306,
 'password': 'dnuiOKd217hdio',
 'database': 'Hualien_Bus',
 }

def init(Parameter):
    mydb = pymysql.connect(
        host=Parameter["host"],
        user=Parameter["user"],
        port=Parameter["port"],
        password=Parameter["password"],
        database=Parameter["database"],
        charset="utf8mb4",
        cursorclass=pymysql.cursors.DictCursor
    )
    return mydb

def MySQL_Run(query, Parameter=Infor):
    mydb = init(Parameter)
    mycursor = mydb.cursor()
    mycursor.execute(query)

    if query.strip().lower().startswith(("select", "show", "desc")):
        result = mycursor.fetchall()
    else:
        mydb.commit()
        result = "Query executed."

    mycursor.close()
    mydb.close()

    return (result)

MySQL_Run("""
show tables
""")
MySQL_Run("""
select * from ttcarimport
""")

()